 @{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Book>
<a class="btn btn-primary" asp-Controller="Book" asp-action="Create"> Add New</a>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Book Name</th>
        <th>Image</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
    </tr>
    @foreach (var book in Model)
    {
            <tr>
                <td>@book.Book_Id</td>
                <td>@book.Book_Title</td>
                <td>@book.Book_Image</td>
                <td>@book.Genre_Id</td>
                <td>@book.Book_Author</td>
                <td>@book.Book_Price</td>
                <td>@book.Book_Description</td>
                <th>
                    <a asp-action="Edit" asp-route-id="@book.Book_Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@book.Book_Id" onclick="return confirm('Are you sure??')">Delete</a>
                </th>

            </tr>
    }
</table> 
<div class="wrapper col-4">
    @foreach (var book in Model)
    {
        <div class=card>
            <div class="card-header">@book.Book_Image</div>
            <h3 class="card-header">@book.Book_Title</h3>
            <div class="card-body" style="height: 150px;">
                @book.Book_Description  
            </div> 
            <div class="card-footer">
                <span class="text-muted">@(book.Book_Price.ToString("n0"))VND</span>
                <a asp-action="AddToCart" asp-route-id="@book.Book_Id"                
               class="btn btn-secondary btn-sm float-right">Order</a>
            </div>
        </div>
    }
</div>
 
