@model IEnumerable<WebApp.Models.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<a class=" btn btn-primary" asp-action="Create">Add new</a>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Publisher</th>
        <th>Description</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
           <th>@book.Book_Id</th>
            <th>@book.Book_Title</th>
            <th>@book.Book_Author</th>
            <th>@book.Book_Price</th>
            <th>@book.genre.Gen_Name</th>
            <th>@book.Book_Publisher</th>
            <th>@book.Book_Description</th>

            <td>
                <a asp-action="Edit" asp-route-id=@book.Book_Id> Edit</a>
                <a asp-action="Delete" asp-route-id=@book.Book_Id onclick="return confirm('Are You Sure?');"> Delete</a>
            </td>
        </tr>
    }
</table>
 

    
       

