@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Book>
<a class=" btn btn-primary" asp-controller="Book" asp-action="Create">Add new</a>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Publisher</th>
        <th>Description</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
           <th>@book.Book_Id</th>
            <th>@book.Book_Title</th>
            <th>@book.Book_Author</th>
            <th>@book.Book_Price</th>
            <th>@book.genre.Gen_Name</th>
            <th>@book.Book_Publisher</th>
            <th>@book.Book_Description</th>

            <td>
                <a asp-action="Edit" asp-route-id=@book.Book_Id> Edit</a>
                <a asp-action="Delete" asp-route-id=@book.Book_Id onclick="return confirm('Are You Sure?');"> Delete</a>
            </td>
        </tr>
    }
</table>
<div class="Wrapper">
    
        @foreach (var book in Model)
        {
        <div class=card>
            <div class="card-header">@book.Book_Id</div>
            <h3 class="card-header">@book.Book_Title</h3>
            <div class="card-body" style="height: 150px;">
                @book.Book_Description
            </div>
            <div class="card-footer">
                <span class="text-muted">@(book.Book_Price.ToString("n0"))VND</span>
                <a asp-action="AddToCart" asp-route-id="@book.Book_Id"
                   class="btn btn-secondary btn-sm float-right">Order</a>
            </div>
        </div>
        }
     
</div>
